{% extends "main.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

 {% block www %}

  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
          <div class="hero-logo">
              <img class="" src="{% static 'img/logo.png' %}" alt="weddify">
          </div>

          <h1>Zaloguj się</h1>
          <div class="actions container text-center">

              <div style="margin: 0 auto; width: 35%">
                  <form id="login_form" role="form"
                        action="{% url 'login' %}"
                        method="post">
                      {% csrf_token %}

                      {{ form | crispy }}
                      <div class="actions">

                          <!--<button type="submit" class="btn-get-started">zaloguj się</button>-->
                          <a href="#" onclick="document.forms['login_form'].submit(); return false;"
                             class="btn-get-started">Zaloguj się</a>
                          <a href="{% url 'signup' %}" class="btn-ourFeatures">Zarejestruj się</a>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </section>


{% endblock %}



