

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.app-content li:hover,
.app-content .nav>li>a:hover,
.app-content .nav>li>a:focus {
    background-color: #f4f5ff;
}

.panel-footer.onhover:hover{
    opacity: 0.6 !important;
      cursor: pointer; !important;
      color:  black;
}

body{
     background-image: url("../img/bg.jpeg"); !important;
     background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;

    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    line-height: 20px;
}

.btn-dialog {
    min-width: 200px;
    padding: 8px;
}

#add_service label {
    display: inline;
    color: white;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    line-height: 26px;
}

.icon-welcome-block{
    padding: 70px 0px;
}

.list-name {
    text-shadow: 1px 1px 8px #000;
    color: white;
}















