{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<div class="row content">
    <div class="col-sm-3 sidenav">
        <h4>Lists:</h4>
        <ul class="nav">
             {% for l in lists %}
            <li class="list-group-item">
                <a href="{% url 'list_page' list_id=l.id %}" >{{ l.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-sm-9">

        <form method="post" action="{% url 'add_item' list_id=list_id %}">
            <div class="input-group">
                {{ addItemForm | crispy }}
                {% csrf_token %}
                <span class="input-group-btn">
                    <button class="btn btn-default" name="addItem" type="submit">Add</button>
                </span>
            </div>
        </form>

        <ul class="list-group">
            {% for i in items %}
            <li class="list-group-item">
                {{i.text}}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
