{% extends "ui/app_base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!--==========================
  Lists
  ============================-->
<div class="row content">
    <div class="col-sm-3 sidenav btn-group-vertical">
        <div class="panel panel-default">
            <div class="panel-heading">
                Kategorie wydatków:
            </div>
            <ul class="list-group">
                {% for l in lists %}
                <li class="list-group-item">
                    <a href="{% url 'list_category' list_id=l.id %}">{{ l.name }}</a>
                    <span class="pull-right">
                    <span class="badge badge-default badge-pill"
                     style="margin: 0 8px;">{{ l.table_items.count}}</span>
                      <form method="POST" action="{% url 'delete_category' l.id %}" style="display:inline">
                           {% csrf_token %}
                        <button type="submit" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                         </form>
                        </span>
                </li>

                {% endfor %}
            </ul>
            <div class="panel-body">
                <p></p>
            </div>
            <div class="panel-footer onhover">
                <div data-toggle="modal" data-target="#addList">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Utwórz kategorię
                </div>

            </div>
        </div>
    </div>

<!--==========================
  Add Item
  ============================-->

    <div class="col-sm-9">
        {% if list_id != 0 %}
            <h3 class="list-name" style="color:white">{{list.name}}</h3>
            <form id="add_service" method="POST" action="{% url 'add_service' list_id=list_id %}">
                <div class="display">
                    {{ addItemForm | crispy }}
                    {% csrf_token %}
                    <div class="text-right">
                        <button class="btn-info btn-dialog" name="addItem" type="submit">Add</button>
                    </div>
                </div>
            </form>
            <br>
        {% endif %}


 <!--==========================
  List Items
  ============================-->

        {% if items.count != 0 %}
        <ul class="list-group">
            {% for i in items %}
            <li class="list-group-item">
                {{i.text}}
                <span class="pull-right">
                        <span style="padding-right: 10px;"> {{i.price|floatformat:2}}</span>
                        <form method="POST" action="{% url 'delete_service' i.id list_id %}" style="display:inline">
                        {% csrf_token %}
                        <button type="submit" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </form>
                    </span>
            </li>
            {% endfor %}
        </ul>
        <div class="alert alert-info text-right" role="alert"> suma wydatków:
            {% if list_sum %}
                {{list_sum|floatformat:2}}
            {% else %}
                0.00
            {% endif %}
        </div>
        {% else %}
                 {% if lists.count == 0 %}
                     <div class="alert alert-info text-center icon-welcome-block" role="alert">
                         <div style="display: block!important; font-size: 85px; padding: 20px">
                         <div class="fa fa-bar-chart"></div>
                         </div>
                             Stwórz kategorie dla twoich wydatków!
                     </div>
                {% else %}
                      <div class="alert alert-info text-center" role="alert"> Rozpocznij pracę i dodaj swoje wydatki!</div>
                  {% endif %}
        {% endif %}

    </div>
</div>


<!--==========================
 Modal
  ============================-->
<div class="modal fade" id="addList" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dodaj nową listę</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'add_category' list_id=list_id %}">
                    <div class="input-group">
                        {{ addListForm | crispy }}
                        {% csrf_token %}
                        <span class="input-group-btn">
                    <button class="btn btn-default" name="addList" type="submit">Add</button>
                </span>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


<!--<div class="modal fade" id="editItem" role="dialog">-->
    <!--<div class="modal-dialog">-->

        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <!--<h4 class="modal-title">Edytuj wpis</h4>-->
            <!--</div>-->
            <!--<div class="modal-body text-right">-->
                <!--<form method="POST" action="{% url 'add_category' list_id=list_id %}">-->
                        <!--{{ editItemForm | crispy }}-->
                        <!--{% csrf_token %}-->
                    <!--<button class="btn-info btn-dialog" name="addList" type="submit">Edytuj</button>-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->

{% endblock %}
